.header {
  background-image: url("./images/pizzeriaHeader.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

/* .header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: rgba(0, 0, 0, 0.5);
} */

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Esto agrega un overlay oscuro sobre la imagen */
}

.header-content {
  position: relative;
  z-index: 1;
}

.header h1 {
  font-size: 3em;
  margin: 0;
}

.header p {
  font-size: 1.5em;
  margin: 0;
}
